h1 {
	color: #000000;
	border: 6px solid #00008D ;
	background-color: #AB000F;
	padding: 10px;
	text-align: center;
	text-shadow:1px 1px 6px white;
	font-family: "Comic Sans MS", cursive, sans-serif
}

h2 {
	color: rgb(24, 0, 184);
	text-shadow: 1px 1px 10px black;
	
}
p {
	text-shadow: 1px 1px 14px rgba(153, 0, 20, 1.0);
}